.form-wrapper {
  padding-top: 20px;
  .search-form {
    padding: 20px;
    border-radius: 10px;
    background-color: #469597;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    .title {
      color: #ddbeaa;
      font-size: 30px;
      text-align: center;
      font-weight: 600;
    }
    .input {
      height: 40px;
      border-radius: 10px;
      border: 1px solid transparent;
      outline: none;
      padding-left: 10px;
      font-size: 14px;
    }
    .error-massage {
      color: red;
      font-size: 20px;
      font-weight: 400;
    }
    .sub-btn {
      height: 40px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      background-color: #ddbeaa;
      color: #5ba199;
      cursor: pointer;

      transition: 0.3s;

      &:hover {
        transition: 0.3s;
        opacity: 0.7;
      }
    }
  }
}
